/* .App {
} */

body {
  background-color: #c3c4c6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
.table-container {
  display: inline-block;
}
.grid-container {
  display: grid;
  /* min-width: 400px;
  height: 400px; */
  align-items: center;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  gap: 15px;
  background-color: #5d5b5b;
  padding: auto;
  margin: auto;

  /* margin-right: auto; */
}

.grid-container div {
  background-color: beige;
  /* padding-top: 40px; */
  /* padding: auto; */
  /* max-width: 100px; */
  width: auto;
  height: 100%;
}
