:root {
  --numOfColumns: 3;
}

body {
  background-color: #c3c4c6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
.table-container {
  display: inline-block;
}
.grid-container {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  gap: 15px;
  background-color: #5d5b5b;
}

.grid-container div {
  background-color: beige;
  width: 100%;
  height: 100%;
}
img{
  height: 100%;
}