:root {
  --boardSize: 3;
}

body {
  background-color: #c3c4c6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
.table-container {
  display: inline-block;
  justify-items: center;
  align-items: center;
}
.grid-container {
  display: grid;
  grid-template: repeat(var(--boardSize), 120px) / repeat(var(--boardSize), 120px);
  gap: 15px;
  background-color: #5d5b5b;
  
}

.grid-container div {
  background-color: beige;
  width: 100%;
  height: 100%;
}
img{
  height: 100%;
}
div.win{
  background-color: rgb(47, 252, 211);
}
h2{
  display: inline;
  color: rebeccapurple;
  font-size: 2rem;
}
h3{
  color: beige;
  font-size: 2em;
}
button{
  background-color: #5d5b5b;
  color: beige;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #000000;
}
button:hover{
  background-color: beige ;
  color: #5d5b5b;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #000000;
}
